{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" min="8">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password" min="8">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="pwChallenge1" name="pwChallenge1" placeholder="Reset password challenge 1." type="text">
            <input class="form-control mx-auto w-auto" id="pwChallenge1answer" name="pwChallenge1answer" placeholder="Answer for challenge 1" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="pwChallenge2" name="pwChallenge2" placeholder="Reset password challenge 2." type="text">
            <input class="form-control mx-auto w-auto" id="pwChallenge2answer" name="pwChallenge2answer" placeholder="Answer for challenge 2" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="pwChallenge3" name="pwChallenge3" placeholder="Reset password challenge 3." type="text">
            <input class="form-control mx-auto w-auto" id="pwChallenge3answer" name="pwChallenge3answer" placeholder="Answer for challenge 3" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}