<!--
    Example output of columns(spells)
        ['id', 'name', 'classes', 'lvl', 'image', 'casting_time', 'duration', 'range', 'area', 'shape', 'attack', 'save', 'dmg', 'school', 'src', 
        'components', 'material_component', 'ritual', 'concentration']

-->

{% extends "layout.html" %}

{% block title %}
    Spells
{% endblock %}

{% block main %}
    <form action="/spells" method="post">
        <div class="mb-3">
            To do
        </div>
        <button class="btn btn-primary" type="submit">Add Spell</button>
    </form>
{% endblock %}